@charset "utf-8";
/* CSS Document */

html {
background: url(../images/bg.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin: 5em;
font-size: 20px;
color: #333;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
	background-color: #fff;	
}

#map {
bottom: 0;
position: relative;
right: 0;
top: 0;
width: 900px;
height: 600px;
border:thick;
border-color:#FFC;
}
a,
a:link,
a:visited,
.admin a,
.admin a:link,
.admin a:visited {
color: #FFC;
text-decoration: none;
}

.info-window a,
.info-window a:link,
.info-window a:visited {
	color: #003;
	text-decoration: none;	
}

.info-window a:hover,
.info-window a:active,
.info-window a:focus {
	color: #093;
	text-decoration: none;	
}

.museums li {
cursor: pointer;
}

.museums li:hover {
background-color: #9FF;
}

.museums a,
.museums a:link,
.museums a:visited {
color: #FFC;
text-decoration: none;
}

.museums li meter {
display: inline-block;
height: 0;
margin: 0;
padding: 0;
width: 0;
-webkit-appearance: none;
appearance: none;
}

.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;
list-style-type: none;
line-height: 1;
}

.rater-level {
float: left;
color: #FFC;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color: #FFC;
text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #FFC;
}

.info-window strong {
display: block;
}