@charset "utf-8";
/* CSS Document */

body {
margin: 5em;
background: url(../images/bg.png) 100%;
font-size: 20px;
color: #FFC;
}

#map {
bottom: 0;
position: relative;
right: 0;
top: 0;
width: 800px;
height: 500px;
border-color:#009933;
}

.museums li {
cursor: pointer;
}

.museums li:hover {
background-color: #f4f3f0;
}

.museums a,
.museums a:link,
.museums a:visited {
color: #063;
text-decoration: none;
}

.museums li meter {
display: inline-block;
height: 0;
margin: 0;
padding: 0;
width: 0;

-webkit-appearance: none;
appearance: none;
}

.rater {
display: inline-block;
margin: 0;
padding: 0;
vertical-align: middle;

list-style-type: none;
line-height: 1;
}

.rater-level {
float: left;

color: #efecd2;
}

.rater-level a,
.rater-level a:link,
.rater-level a:visited {
color: #efecd2;
text-decoration: none
}

.rater-level a:hover,
.rater-level a:focus,
.rater-level a:active,
.is-rated,
.is-rated a,
.is-rated a:link,
.is-rated a:visited,
.is-rated a:hover,
.is-rated a:focus,
.is-rated a:active,
.is-rated-hover a,
.is-rated-hover a:link,
.is-rated-hover a:visited {
color: #ffe91f;
}

.info-window strong {
display: block;
}